@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Waterfall";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/waterfall/v3/MCoRzAfo293fACdFKcwo3bv9.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.floating-4 {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-4 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.text-darken {
  color: #2f327d;
}

/* choose us 
 */

.container__main {
  width: 100%;
}

@media (min-width: 640px) {
  .container__main {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container__main {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container__main {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container__main {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container__main {
    max-width: 1536px;
  }
}

.container__main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.card__hover__bg::before {
  top: 0.25rem;
  left: 0.25rem;
  right: -0.75rem;
  bottom: -0.75rem;
  z-index: -1;
  --tw-skew-y: -2deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  content: var(--tw-content);
  border-radius: 0.75rem;
}

.card__hover__bg:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.card__hover__bg:hover::before {
  position: absolute;
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}
.text-center {
  text-align: center;
}

.before\:hover\:text-center:hover::before {
  content: var(--tw-content);
  text-align: center;
}

.hover\:before\:text-center:hover::before {
  content: var(--tw-content);
  text-align: center;
}

.hover\:focus\:text-center:focus:hover {
  text-align: center;
}

.focus\:hover\:text-center:hover:focus {
  text-align: center;
}

/* choose us end  */
